$font-stack: eb-garamond, serif;;
$primary-color: #394989;
$primary-color-greyed: #4f5fa1;

.nav-button {
    font: $font-stack;
    color: $primary-color;
    font-size: 22px;
    text-transform: uppercase;
}

h2 {
    font:$font-stack;
    letter-spacing: 0px;
    color: $primary-color;
    text-transform: uppercase;
    opacity: 1;
    font-size: 28px;
    font-family: eb-garamond, serif;;
    font-style: normal;
    font-weight: 400;
}

p {
    font:$font-stack;
    letter-spacing: 0px;
    line-height: 1.2em;
    color: $primary-color;
    opacity: 1;
    font-size: 22px;
    font-family: eb-garamond, serif;
    font-style: normal;
}

.footer {
    font: $font-stack;
    font-size: 12px;
    letter-spacing: 0px;
    color: $primary-color-greyed;
    opacity: 1;
    padding-bottom: 12px;
}

h1 {
    text-align: center;
    letter-spacing: 0px;
    color: #0d223f;
    text-transform: uppercase;
    opacity: 1;
    font-family: eb-garamond, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
  }



//   EB Garamond Regular
//   font-family: eb-garamond, serif;
//   font-weight: 400;
//   font-style: normal;
  
//   EB Garamond Italic
//   font-family: eb-garamond, serif;
//   font-weight: 400;
//   font-style: italic;
  
//   EB Garamond Bold
//   font-family: eb-garamond, serif;
//   font-weight: 700;
//   font-style: normal;
  
//   EB Garamond Bold Italic
//   font-family: eb-garamond, serif;
//   font-weight: 700;
//   font-style: italic;